@font-face {
    font-family: 'Roboto';
    src: 
         url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
} 

:root {

    --font-family: "Roboto", sans-serif;

}


html, button, input, optgroup, select, textarea {
    font-family: var(--font-family);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
} 

main {
    flex: 1 0 auto;
}

  
h1,h2,h3,h4,h5,h6 {
    color: orange;
}
  
a, .menu {
    color: white;
}

.container {
    width: 90%;
}
  
.material-icons {
    color: #29b6f6;
}
  

.page-footer {
    margin: 0;
}
  
.page-footer a span{
    color: white;
}


