@font-face {
    font-family: 'Roboto';
    src: 
         url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
} 

:root {

    --font-family: "Roboto", sans-serif;

}


html, button, input, optgroup, select, textarea {
    font-family: var(--font-family);
    font-size: medium;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fafafa;

} 
nav{
    background-color: white;
}
nav .brand-logo {
    color: black;
}

nav ul a{
    color: black;
}

.material-icons{
    color: orange;
    opacity: 50%;
}

main {
    flex: 1 0 auto;
}

  
  
.container {
    width: 90%;
    background-color: white;
    padding: 1rem 2rem 1rem;
}

.page-footer {
    font-size: smaller;
    margin: 0;
}


/* topic box */
.topic-panel{
    box-sizing: border-box;
    display: block;
    padding: 32px 40px 24px;
    margin: auto auto;
    gap: 16px;
    background-color: #FFFFFF;
    border-color: gray;
    border-radius: 0px 0px 5px 5px;

}
.topic{
    box-sizing: border-box;
    display: block;
    font-family: inherit;
    color:black;
    font-weight: bold;
    font-size: 1.8rem;

}
.topic div {
    display: inline-block;
}
.subtopic{
    display: block;
    float: left;
    box-sizing: border-box;
    font-family: inherit;
    color:black;
    font-weight: 400;
    font-size: 1.3rem;
    margin-top: 5px;
}

.topic-image {
    display: block;
    width:100%;
    margin: 5px 0px 15px;
}

.points{
    display: block;
    float: right;
    padding: 0.5rem 1rem 0.5rem;
    width: 4rem;
    font-size:small;
    color: #FFFFFF;
    background: #FBC037;
    border: 1px solid #FBC037;
    border-radius: 5px;
}

.paragraph{
    display: inline-block;
    margin-left: 2rem;
}
p{
    margin: 1rem 0rem 2rem;
    line-height: 1.7rem;
    text-align: justify;

}

.material-icons{
    margin: 0rem 0.2rem 0rem;
}

.page-footer .container a{
    text-decoration: underline;
} 
